<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand"><i class="bi bi-mortarboard"></i>  ISPE</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" role="button" (click)="clickRattrapages()">Rattrapages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="button" (click)="clickProfesseurs()">Professeurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="button" (click)="clickEleves()">Elèves</a>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-primary" (click)="logout()">Déconnexion</button>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>